<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <%-include("partial/Header.ejs")%>
    <main
      class="shadow-lg w-[50%] mx-auto mt-[40px] font-medium flex justify-center p-[30px]"
    >
      <div class="flex flex-col gap-[10px] text-center">
        <h2 class="text-red-400 text-[30px]">
          Your Home Registered Sucessfully
        </h2>
        <p>Your Home has been added in our System</p>
        <a href="/" class="p-[10px]  border-[1px] bg-red-500 text-white border-[solid] border-[red] cursor-pointer">Return Home</a>
      </div>
    </main>
  </body>
</html>
